<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/css/read.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/editor.css}" type="text/css">
<!--  <link rel="stylesheet" th:href="@{/css/uploader.css}" type="text/css">-->
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Brush+Script"
        rel="stylesheet">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">const board = [[${board}]];</script>
<script th:src="@{/js/editor.js}"></script>
</body>
</html>