<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 수정</title>
  <link rel="stylesheet" th:href="@{/css/editor.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/uploader.css}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Brush+Script"
        rel="stylesheet">
</head>
<div class="registerArea">
  <button type="button" class="submitBtn">수정</button>
  <input type="text" name="title" class="boardtitle" th:value="${board.title}"
         placeholder="제목을 입력해 주세요.">
  <div id="editor_iframe_wrapper">
    <iframe id="editor_iframe" th:src="@{http://10.10.0.157:8080/board/editor(bno=${board.bno})}"
            scrolling="no"></iframe>
  </div>
  <div class="upload_iframe_wrapper">
    <iframe id="uploader_iframe"
            th:src="@{http://10.10.0.157:8080/board/uploader(bno=${board.bno})}"
            scrolling="no"></iframe>
  </div>
</div>
<script th:inline="javascript">
  const board = [[${board}]];
  let intervalId = setInterval(functionToRun, 10);

  function functionToRun() {
    let editorArea = document.querySelector('.editorArea');
    if (editorArea) {
      const board = [[${board}]]; // Thymeleaf 표현식은 HTML 문서 내에서만 유효
      editorArea.innerHTML = board.content;
      clearInterval(intervalId);
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>
  window.addEventListener('message', (event) => {
    if (event.data === 'editorLoaded') {
      console.log('editorLoaded')
      const $iframe_editor = document.querySelector('#editor_iframe');
      const editorHeight = $iframe_editor.contentWindow.document.getElementsByClassName('editorArea')[0].offsetHeight + 60;
      $iframe_editor.style.height = editorHeight + 'px';
    } else if (event.data === 'uploaderLoaded') {
      console.log('uploaderLoaded')
      const $iframe_uploader = document.querySelector('#uploader_iframe');
      const uploaderHeight = $iframe_uploader.contentWindow.document.getElementsByClassName('uploader-main')[0].offsetHeight + 10;
      $iframe_uploader.style.height = uploaderHeight + 'px';
    }
  })

</script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/modify.js}"></script>
</html>