<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 수정</title>
  <link rel="stylesheet" th:href="@{/css/editor.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/uploader.css}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Brush+Script"
        rel="stylesheet">
  <script type="text/javascript" src="/raonkeditor/js/raonkeditor.js"></script>
  <script type="text/javascript" src="/raonkuploader/js/raonkupload.js"></script>
</head>
<div class="registerArea">
  <button type="button" class="submitBtn" id="submitBtn">수정</button>
  <input type="text" name="title" class="boardtitle" th:value="${board.title}"
         placeholder="제목을 입력해 주세요.">
  <div>
    <script type="text/javascript">
      var params = {
        Id: 'editor1',
      }

      new RAONKEditor(params);
    </script>
  </div>
  <div style=" margin-top: 20px;">
    <script type="text/javascript">
      new RAONKUpload({Id: 'upload1'});
    </script>
  </div>
</div>
<script th:inline="javascript">
  const board = [[${board}]];
  let intervalId = setInterval(functionToRun, 10);

  function functionToRun() {
    let editorArea = document.querySelector('.editorArea');
    if (editorArea) {
      const board = [[${board}]]; // Thymeleaf 표현식은 HTML 문서 내에서만 유효
      editorArea.innerHTML = board.content;
      clearInterval(intervalId);
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--<script th:src="@{/js/modify.js}"></script>-->
<script th:inline="javascript">
  const files = [[${files}]];

  RAONKEDITOR.setBodyValue(board.content, 'editor1');
</script>
<script th:src="@{/js/custommodify.js}"></script>
</html>