<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 조회</title>
  <link rel="stylesheet" th:href="@{/css/read.css}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Brush+Script"
        rel="stylesheet">
  <script type="text/javascript" src="/raonkeditor/js/raonkeditor.js"></script>
  <script type="text/javascript" src="/raonkuploader/js/raonkupload.js"></script>
</head>

<div class="readArea">
  <div class="buttonArea">
    <a href="/board/list" class="backBtn">목록</a>
    <a th:href="@{/board/modify(bno=${board.bno})}" class="updateBtn" onclick="">수정</a>
    <a th:href="@{/board/remove(bno=${board.bno})}" class="deleteBtn">삭제</a>
  </div>
  <input type="text" name="title" class="boardtitle" th:value="${board.title}" readonly>
  <div>
    <script type="text/javascript">
      var params = {
        Id: 'editor1',
        Mode: 'view',
      }

      new RAONKEditor(params);
    </script>
  </div>
  <div id="uploadholder" style=" margin-top: 20px;">
    <script type="text/javascript">
      new RAONKUpload({Id: 'upload1', UploadHolder:"uploadholder", Mode: 'view'});
    </script>
  </div>
</div>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--<script th:src="@{/js/common.js}"></script>-->
<script th:src="@{/js/read.js}"></script>


<script th:inline="javascript">
  const files = [[${files}]];
  const board = [[${board}]];

  RAONKEDITOR.setBodyValue(board.content, 'editor1');

  function RAONKUPLOAD_CreationComplete(uploadID) {

    // callBack 이벤트 설정
    // 파일추가 완료 후 발생하며, 파라미터 Object내에 API동작을 완료한 uploadID를 포함하여 반환합니다.
    var callBackEvt = function (paramObj) {
      console.log(paramObj.uploadName + ": 파일추가 완료.");
    }

    // Case_1
    // fileList로 추가
    // 파일 Object를 fileList 배열로 추가합니다.

    var fileList = [];
    console.log(files);

    files.forEach((file) => {
      var fileObj = {
        uniqueKey: file.uuid,
        originName: file.filename,
        webPath: "D:\\file\\raonkdownload\\"+file.uuid+"."+file.filename.split(".")[1],
        size: file.size,
        customValue: "",
      };
      fileList.push(fileObj);
    });

    var paramObj_1 = {
      fileList: fileList,
      uploadName: "upload1"
    };

    RAONKUPLOAD.AddUploadedFileAsObject(paramObj_1, callBackEvt);
  }

  document.querySelector(".deleteBtn").addEventListener("click", function (e) {
    if (confirm("삭제하시겠습니까?")) {
      axios.post(`/board/remove?bno=${[[${board.bno}]]}`)
      .then(() => {
        alert("삭제되었습니다.");
        location.href = "/board/list";
      })
      .catch((error) => {
        console.log(`/board/remove/${[[${board.bno}]]}`)
        console.log(error);
      });
    }
    e.preventDefault();
  });


</script>