<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 조회</title>
  <link rel="stylesheet" th:href="@{/css/read.css}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Nanum+Brush+Script"
        rel="stylesheet">
</head>

<div class="readArea">
  <div class="buttonArea">
    <a href="/board/list" class="backBtn">목록</a>
    <a th:href="@{/board/modify(bno=${board.bno})}" class="updateBtn" onclick="">수정</a>
    <a th:href="@{/board/remove(bno=${board.bno})}" class="deleteBtn">삭제</a>
  </div>
  <input type="text" name="title" class="boardtitle" th:value="${board.title}" readonly>
  <div id="editor_iframe_wrapper">
    <iframe id="editor_iframe" th:src="@{http://10.10.0.157:8080/board/editor(bno=${board.bno})}"
            scrolling="no"></iframe>
  </div>
  <div class="upload_iframe_wrapper">
      <iframe id="uploader_iframe"
              th:src="@{http://10.10.0.157:8080/board/uploader(bno=${board.bno})}"
              scrolling="no"></iframe>
  </div>
</div>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/read.js}"></script>


<script th:inline="javascript">
  const files = [[${files}]];

  if(files.length === 0) {
    document.getElementById('uploader_iframe').remove();
  }


  document.querySelector(".deleteBtn").addEventListener("click", function (e) {
    if (confirm("삭제하시겠습니까?")) {
      axios.post(`/board/remove?bno=${[[${board.bno}]]}`)
      .then(() => {
        alert("삭제되었습니다.");
        location.href = "/board/list";
      })
      .catch((error) => {
        console.log(`/board/remove/${[[${board.bno}]]}`)
        console.log(error);
      });
    }
    e.preventDefault();
  });




</script>