<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/read.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/uploader.css}" type="text/css">
</head>
<body>
<div class="uploader-main">
  <div style="display: flex; flex-direction: column; align-items:center">
    <input type="hidden" id="hiddeneditorinput" name="content"/>
    <div id="uploaderArea">
      <div id="fileUploader" th:if="${files != null and not #lists.isEmpty(files)}">
        <table>
          <thead>
          <tr>
            <th></th>
            <th>Filename</th>
          </tr>
          </thead>
          <tbody class="tb_files">
          <tr th:each="files : ${files}">
            <td><input type="checkbox" name="fileCheckbox" th:value="${files.uuid} + '-' + ${files.filename}"></td>
            <td th:text="${files.filename}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- 파일 목록이 존재하지 않는 경우 파일 업로더 표시 -->
      <div id="fileUploader" th:unless="${files != null and not #lists.isEmpty(files)}">
        파일을 끌어다 놓으세요
      </div>
      <div class="append-btn"><label>파일추가<input type="file" multiple="" id="fileAddBtn" name="file" style="display: none;"></label></div>
    </div>
  </div>
</div>


<script th:src="@{/js/uploader.js}"></script>

</body>
</html>